<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.ftp.web.dao.FtpAccessLogEntityMapper">
  <resultMap id="BaseResultMap" type="com.sf.ftp.web.beans.po.FtpAccessLogEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="access_time" jdbcType="VARCHAR" property="accessTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, ip, operation, filepath, access_time
  </sql>
  
  <sql id="base_condition">
      <if test="userid != null and userid!=''">
        and userid = #{userid,jdbcType=VARCHAR}
      </if>
      <if test="ip != null and ip!=''">
        and ip = #{ip,jdbcType=VARCHAR}
      </if>
  </sql>
  
  <select id="queryCountByCondition" parameterType="com.sf.ftp.web.beans.dto.LogCondition" resultType="java.lang.Integer">
    select count(*) 
    from ftp_access_log
    where 1=1  
      <include refid="base_condition" />
  </select>
  
  <select id="queryByCondition" parameterType="com.sf.ftp.web.beans.dto.LogCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ftp_access_log
    where 1=1  
      <include refid="base_condition" />
    order by id desc 
    limit #{offset},#{limit}
  </select>
  
  <select id="queryAllByCondition" parameterType="com.sf.ftp.web.beans.dto.LogCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ftp_access_log
    where 1=1  
      <include refid="base_condition" />
    order by id desc 
  </select>
  
  
</mapper>